<div class="container">
  <h3>Menu</h3>

  <hr />
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Man power total hours</span
    >
    <input
      [(ngModel)]="manPowerHours"
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default">Periods</span>
    <input
      [(ngModel)]="timeIntervals"
      type="number"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
    />
    <label class="form-check-label" for="flexRadioDefault1">
      Left side gauss
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
      checked
    />
    <label class="form-check-label" for="flexRadioDefault1">
      Center side gauss
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
    />
    <label class="form-check-label" for="flexRadioDefault1">
      Right side gauss
    </label>
  </div>

  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="flexRadioDefault"
      id="flexRadioDefault1"
    />
    <label class="form-check-label" for="flexRadioDefault1"> Straight </label>
  </div>
  <br />
  <div>
    <label for="customRange1" class="form-label"
      >Edit the gauss position manually</label
    >
    <input
      [(ngModel)]="gaussPosition"
      (ngModelChange)="generateNewGraph()"
      type="range"
      class="form-range"
      id="customRange1"
      min="1"
      max="30"
      step="0.5"
    />
  </div>

  <br />

  <div>
    <label for="customRange1" class="form-label">Edit the wave form</label>
    <input
      [(ngModel)]="gaussShape"
      (ngModelChange)="generateNewGraph()"
      type="range"
      class="form-range"
      id="customRange1"
      min="0"
      max="0.4"
      step="0.01"
    />
  </div>

  <button
    (click)="generateNewGraph()"
    type="button"
    class="btn btn-primary float-end"
  >
    Acept
  </button>
</div>
